RewriteEngine On
RewriteRule ^([^/]*)\.html$ /rvrental.php?page=$1 [L]
RewriteRule ^([^/]*)\.html$ /booking.php?page=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://georgiamotorcoach.com/$1 [R,L]