RewriteEngine On
RewriteRule ^([^/]*)\.html$ /rvrental.php?page=$1 [L]
RewriteRule ^([^/]*)\.html$ /booking.php?page=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
ErrorDocument 404 /404.php
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]